#sect1 {  
    height: 650 px;  
    color: black;background-image: url("../../assets/Images/confetti-background.avif");  
    background-size: 100 % ;  
    background-size: cover;  
}   
h3{
    background-color: bisque;
}