#sect1 {   
    background-image: url("../../assets/Images/bg2.jpg");  
    background-size: 100 % ;  
    background-size: cover; 
    height:100%;
  width:100%;
  overflow:hidden; 
}   
h1{
    background-color: #d7d2cb;
}
.button5 {background-color: #555555;
    color: white;} /* Black */
    .default {background-color: black; color: white;} /* Gray */ 
.default:hover {background: #ddd;}
