<div id="sect1"class="container"><h1>Happy Birthday Dear Manooooooooooooo</h1>
<h2>Here is a Fun Movie Quiz for You</h2>
<h3>You will have to take a 14 question Quiz to unlock your Surprise</h3>
<h3>The Surprise can only be unlocked with the password, which you can obtain by completing the Quiz</h3>
<h4>Headsup : The Quiz comprises of a few easy movies, few tough ones, few very old, to mix things up. But most of them are popular ones.
</h4>
<h4>Tip : Once you pick a wrong option and submit, you can always go back to the same question and try again.</h4>
<h4>To start the Quiz click the button below</h4>
<a routerLink="questions" ><button class="btn default">Start Quiz</button></a>

<br>
<br>
<h4>To Jump to the surprise section click the button below</h4>
<button class="btn default" [routerLink]="['/surprise']">Surprise</button>
<br><br><br><br><br><br><br><br><br>
</div>

