#sect1 {   
    background-image: url("../../assets/Images/bg2.jpg");  
    background-size: 100 % ;  
    background-size: cover; 
    height:100%;
  width:100%;
  overflow:hidden; 
} 

input[type=radio] {
    accent-color: black;
}
